@model FinanceManager.Models.ViewModels.MonthsFormViewModel

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row container">
    <div class="col">
        <h4>Id: @Model.Id; Month: @Model.Month</h4>
        <div class="container">
            <form action="/Incomes/SubmitIncome" method="post">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group">
                    <label>Salary</label>
                    @Html.TextBoxFor(m => m.Salary, new { Class = "form-control", Type = "text", Required = true, Disabled = Model.SalaryIsManualInput != true })
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="col">
        <h3>Incomes</h3>
        <form class="form-inline" action="/Months/AddIncomeToMonth" method="post">
            <input hidden id="monthId" name="monthId" value="@Model.Id">

            @Html.DropDownList("incomeId", Model.Months_IncomesDropDown, new { Class = "form-control" })
            &nbsp;
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Value</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var income in Model.Months_Incomes)
                {
                    <tr>
                        <th scope="row">@income.Id</th>
                        <td>@income.Description</td>
                        <td>@income.Value</td>
                        <td><a href="/Months/RemoveIncomeFromMonth?id=@income.Id" class="btn btn-primary">Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col">
        <h3>Bills</h3>
        <form class="form-inline" action="/Months/AddBillToMonth" method="post">

            <input hidden id="monthId" name="monthId" value="@Model.Id">

            @Html.DropDownList("billId", Model.Months_BillsDropDown, new { Class = "form-control" })
            &nbsp;
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Value</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var bill in Model.Months_Bills)
                {
                    <tr>
                        <th scope="row">@bill.Id</th>
                        <td>@bill.Description</td>
                        <td>@bill.Value</td>
                        <td><a href="/Months/RemoveBillFromMonth?id=@bill.Id" class="btn btn-primary">Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col">
        <label>Total Income</label>
        @Html.TextBoxFor(m => m.TotalIncome, new { Class = "form-control", Disabled = true })
        <label>Total Outcome</label>
        @Html.TextBoxFor(m => m.TotalOutcome, new { Class = "form-control", Disabled = true })
        <label>Total Profit</label>
        @Html.TextBoxFor(m => m.TotalProfit, new { Class = "form-control", Disabled = true })
    </div>

</div>

<script>
    $("#TotalIncome").maskMoney();
    $("#TotalOutcome").maskMoney();
</script>